# 2. Data Wrangling

In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load Train Dataset

train=pd.read_csv("C:\\Users\\keshi\\Downloads\\Train-1542865627584.csv")
train_ben=pd.read_csv("C:\\Users\\keshi\\Downloads\\Train_Beneficiarydata-1542865627584.csv")
train_ip=pd.read_csv("C:\\Users\\keshi\\Downloads\\Train_Outpatientdata-1542865627584.csv")
train_op=pd.read_csv("C:\\Users\\keshi\\Downloads\\Train_Inpatientdata-1542865627584.csv")

# Load Test Dataset

test=pd.read_csv("C:\\Users\\keshi\\Downloads\\Test-1542969243754.csv")
test_ben=pd.read_csv("C:\\Users\\keshi\\Downloads\\Test_Beneficiarydata-1542969243754.csv")
test_ip=pd.read_csv("C:\\Users\\keshi\\Downloads\\Test_Inpatientdata-1542969243754.csv")
test_op=pd.read_csv("C:\\Users\\keshi\\Downloads\\Test_Outpatientdata-1542969243754.csv")

In [3]:
train.info()
train_ben.info()
train_ip.info()
train_op.info()
train_ben.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5410 entries, 0 to 5409
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provider        5410 non-null   object
 1   PotentialFraud  5410 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  object
 2   DOD                              1421 non-null    object
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
dtypes: int64(21), object(4)
memory usage: 26.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [4]:
test.info()
test_ben.info()
test_ip.info()
test_op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provider  1353 non-null   object
dtypes: object(1)
memory usage: 10.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63968 entries, 0 to 63967
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           63968 non-null  object
 1   DOB                              63968 non-null  object
 2   DOD                              574 non-null    object
 3   Gender                           63968 non-null  int64
 4   Race                             63968 non-null  int64
 5   RenalDiseaseIndicator            63968 non-null  object
 6   State                            63968 non-null  int64
 7   County                           63968 non-null  int64
 8   NoOfMonths_PartACov              63968 non-null  int64
 9   NoOfMonths_PartBCov              63968 non-null  int64
 10  ChronicCond_Alzheimer            63968 non-null  int64
 11  ChronicCond_Heartfailure         63968 non-null  int64
 12  ChronicCond_KidneyDisease        63968 non-null  int64
 13  ChronicCond_Cancer               63968 non-null  int64
 14  ChronicCond_ObstrPulmonary       63968 non-null  int64
 15  ChronicCond_Depression           63968 non-null  int64
 16  ChronicCond_Diabetes             63968 non-null  int64
 17  ChronicCond_IschemicHeart        63968 non-null  int64
 18  ChronicCond_Osteoporasis         63968 non-null  int64
 19  ChronicCond_rheumatoidarthritis  63968 non-null  int64
 20  ChronicCond_stroke               63968 non-null  int64
 21  IPAnnualReimbursementAmt         63968 non-null  int64
 22  IPAnnualDeductibleAmt            63968 non-null  int64
 23  OPAnnualReimbursementAmt         63968 non-null  int64
 24  OPAnnualDeductibleAmt            63968 non-null  int64
dtypes: int64(21), object(4)
memory usage: 12.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  9551 non-null   object
 1   ClaimID                 9551 non-null   object
 2   ClaimStartDt            9551 non-null   object
 3   ClaimEndDt              9551 non-null   object
 4   Provider                9551 non-null   object
 5   InscClaimAmtReimbursed  9551 non-null   int64
 6   AttendingPhysician      9520 non-null   object
 7   OperatingPhysician      5589 non-null   object
 8   OtherPhysician          1013 non-null   object
 9   AdmissionDt             9551 non-null   object
 10  ClmAdmitDiagnosisCode   9551 non-null   object
 11  DeductibleAmtPaid       9355 non-null   float64
 12  DischargeDt             9551 non-null   object
 13  DiagnosisGroupCode      9551 non-null   object
 14  ClmDiagnosisCode_1      9551 non-null   object
 15  ClmDiagnosisCode_2      9497 non-null   object
 16  ClmDiagnosisCode_3      9382 non-null   object
 17  ClmDiagnosisCode_4      9147 non-null   object
 18  ClmDiagnosisCode_5      8832 non-null   object
 19  ClmDiagnosisCode_6      8354 non-null   object
 20  ClmDiagnosisCode_7      7815 non-null   object
 21  ClmDiagnosisCode_8      7191 non-null   object
 22  ClmDiagnosisCode_9      6313 non-null   object
 23  ClmDiagnosisCode_10     887 non-null    object
 24  ClmProcedureCode_1      5433 non-null   float64
 25  ClmProcedureCode_2      1254 non-null   float64
 26  ClmProcedureCode_3      223 non-null    float64
 27  ClmProcedureCode_4      29 non-null     float64
 28  ClmProcedureCode_5      2 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125841 entries, 0 to 125840
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  125841 non-null  object
 1   ClaimID                 125841 non-null  object
 2   ClaimStartDt            125841 non-null  object
 3   ClaimEndDt              125841 non-null  object
 4   Provider                125841 non-null  object
 5   InscClaimAmtReimbursed  125841 non-null  int64
 6   AttendingPhysician      125525 non-null  object
 7   OperatingPhysician      21604 non-null   object
 8   OtherPhysician          47619 non-null   object
 9   ClmDiagnosisCode_1      123263 non-null  object
 10  ClmDiagnosisCode_2      78110 non-null   object
 11  ClmDiagnosisCode_3      49266 non-null   object
 12  ClmDiagnosisCode_4      30470 non-null   object
 13  ClmDiagnosisCode_5      17966 non-null   object
 14  ClmDiagnosisCode_6      11806 non-null   object
 15  ClmDiagnosisCode_7      7970 non-null    object
 16  ClmDiagnosisCode_8      5531 non-null    object
 17  ClmDiagnosisCode_9      3563 non-null    object
 18  ClmDiagnosisCode_10     263 non-null     object
 19  ClmProcedureCode_1      34 non-null      float64
 20  ClmProcedureCode_2      9 non-null       float64
 21  ClmProcedureCode_3      2 non-null       float64
 22  ClmProcedureCode_4      0 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       125841 non-null  int64
 26  ClmAdmitDiagnosisCode   25805 non-null   object
dtypes: float64(6), int64(2), object(19)
memory usage: 25.9+ MB

In [5]:
#Replacing 2 with 0 for chronic conditions ,that means chroniv condition No is 0 and yes is 1

train_ben = train_ben.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2,
                                                       'ChronicCond_KidneyDisease': 2, 'ChronicCond_Cancer': 2, 
                                                       'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2, 
                                                       'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 
                                                       'ChronicCond_Osteoporasis': 2, 'ChronicCond_rheumatoidarthritis': 2,
                                                       'ChronicCond_stroke': 2 }, 0)

train_ben = train_ben.replace({'RenalDiseaseIndicator': 'Y'}, 1)

test_ben = test_ben.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2, 
                                                     'ChronicCond_KidneyDisease': 2, 'ChronicCond_Cancer': 2, 
                                                     'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2, 
                                                     'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 
                                                     'ChronicCond_Osteoporasis': 2, 'ChronicCond_rheumatoidarthritis': 2, 
                                                     'ChronicCond_stroke': 2 }, 0)

test_ben = test_ben.replace({'RenalDiseaseIndicator': 'Y'}, 1)

In [6]:
test_ben.head()
train_ben.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,0,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,0,0,0,0,0,0,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,0,0,1,0,0,0,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,0,1,1,1,1,0,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,0,1,0,0,0,0,0,0,1790,1200

In [7]:
## Lets Create Age column to the dataset

train_ben['DOB'] = pd.to_datetime(train_ben['DOB'] , format = '%Y-%m-%d')
train_ben['DOD'] = pd.to_datetime(train_ben['DOD'],format = '%Y-%m-%d',errors='ignore')
train_ben['Age'] = round(((train_ben['DOD'] - train_ben['DOB']).dt.days)/365)


test_ben['DOB'] = pd.to_datetime(test_ben['DOB'] , format = '%Y-%m-%d')
test_ben['DOD'] = pd.to_datetime(test_ben['DOD'],format = '%Y-%m-%d',errors='ignore')
test_ben['Age'] = round(((test_ben['DOD'] - test_ben['DOB']).dt.days)/365)
train_ben.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,1943-01-01,NaT,1,1,0,39,230,12,12,...,1,1,0,1,1,36000,3204,60,70,NaN
1,BENE11002,1936-09-01,NaT,2,1,0,39,280,12,12,...,0,0,0,0,0,0,0,30,50,NaN
2,BENE11003,1936-08-01,NaT,1,1,0,52,590,12,12,...,0,1,0,0,0,0,0,90,40,NaN
3,BENE11004,1922-07-01,NaT,1,1,0,39,270,12,12,...,1,1,1,1,0,0,0,1810,760,NaN
4,BENE11005,1935-09-01,NaT,1,1,0,24,680,12,12,...,1,0,0,0,0,0,0,1790,1200,NaN

In [8]:
## As we see that last DOD value is 2009-12-01 ,which means Beneficiary Details data is of year 2009.
## so we will calculate age of other benficiaries for year 2009.

train_ben.Age.fillna(round(((pd.to_datetime('2009-12-01' , format = '%Y-%m-%d') 
                                         - train_ben['DOB']).dt.days)/365), inplace=True)


test_ben.Age.fillna(round(((pd.to_datetime('2009-12-01' , format = '%Y-%m-%d') 
                                        - test_ben['DOB']).dt.days)/365), inplace=True)

# converting age from flot to int
train_ben['Age'] = train_ben['Age'].astype(int)
test_ben['Age'] = test_ben['Age'].astype(int)

In [9]:
train_ben.info()
train_ben.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 26 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  datetime64[ns]
 2   DOD                              1421 non-null    datetime64[ns]
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
 25  Age                              138556 non-null  int32
dtypes: datetime64[ns](2), int32(1), int64(21), object(2)
memory usage: 27.0+ MB

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,1943-01-01,NaT,1,1,0,39,230,12,12,...,1,1,0,1,1,36000,3204,60,70,67
1,BENE11002,1936-09-01,NaT,2,1,0,39,280,12,12,...,0,0,0,0,0,0,0,30,50,73
2,BENE11003,1936-08-01,NaT,1,1,0,52,590,12,12,...,0,1,0,0,0,0,0,90,40,73
3,BENE11004,1922-07-01,NaT,1,1,0,39,270,12,12,...,1,1,1,1,0,0,0,1810,760,87
4,BENE11005,1935-09-01,NaT,1,1,0,24,680,12,12,...,1,0,0,0,0,0,0,1790,1200,74

In [10]:
#Lets create a new variable 'WhetherDead' with flag 1 means Dead and 0 means not Dead

train_ben.loc[train_ben.DOD.isna(),'WhetherDead']=0
train_ben.loc[train_ben.DOD.notna(),'WhetherDead']=1
train_ben.loc[:,'WhetherDead'].head(7)


test_ben.loc[test_ben.DOD.isna(),'WhetherDead']=0
test_ben.loc[test_ben.DOD.notna(),'WhetherDead']=1
test_ben.loc[:,'WhetherDead'].head(3)

train_ben.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,WhetherDead
0,BENE11001,1943-01-01,NaT,1,1,0,39,230,12,12,...,1,0,1,1,36000,3204,60,70,67,0.0
1,BENE11002,1936-09-01,NaT,2,1,0,39,280,12,12,...,0,0,0,0,0,0,30,50,73,0.0
2,BENE11003,1936-08-01,NaT,1,1,0,52,590,12,12,...,1,0,0,0,0,0,90,40,73,0.0
3,BENE11004,1922-07-01,NaT,1,1,0,39,270,12,12,...,1,1,1,0,0,0,1810,760,87,0.0
4,BENE11005,1935-09-01,NaT,1,1,0,24,680,12,12,...,0,0,0,0,0,0,1790,1200,74,0.0

In [11]:
train_ip.tail()
print(train_ip.columns)
print(test_ip.columns)

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')
Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [12]:
## As patient can be admitted for only for 1 day,we will add 1 to the difference of Discharge Date and Admission Date 

test_ip['AdmissionDt'] = pd.to_datetime(test_ip['AdmissionDt'] , format = '%Y-%m-%d')
test_ip['DischargeDt'] = pd.to_datetime(test_ip['DischargeDt'],format = '%Y-%m-%d')
test_ip['AdmitForDays'] = ((test_ip['DischargeDt'] - test_ip['AdmissionDt']).dt.days)+1

test_ip.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,AdmitForDays
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN,8
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN,15
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN,14
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12

# Dropping Data

In [14]:
### Lets check missing value percentage in full datasets

train_ip.isnull().sum()*100/len(train_ip)
test_ip.isnull().sum()*100/len(test_ip)

BeneID                      0.000000
ClaimID                     0.000000
ClaimStartDt                0.000000
ClaimEndDt                  0.000000
Provider                    0.000000
InscClaimAmtReimbursed      0.000000
AttendingPhysician          0.324573
OperatingPhysician         41.482567
OtherPhysician             89.393781
AdmissionDt                 0.000000
ClmAdmitDiagnosisCode       0.000000
DeductibleAmtPaid           2.052141
DischargeDt                 0.000000
DiagnosisGroupCode          0.000000
ClmDiagnosisCode_1          0.000000
ClmDiagnosisCode_2          0.565386
ClmDiagnosisCode_3          1.769448
ClmDiagnosisCode_4          4.229924
ClmDiagnosisCode_5          7.528008
ClmDiagnosisCode_6         12.532719
ClmDiagnosisCode_7         18.176107
ClmDiagnosisCode_8         24.709455
ClmDiagnosisCode_9         33.902209
ClmDiagnosisCode_10        90.713014
ClmProcedureCode_1         43.115904
ClmProcedureCode_2         86.870485
ClmProcedureCode_3         97.665166
ClmProcedureCode_4         99.696367
ClmProcedureCode_5         99.979060
ClmProcedureCode_6        100.000000
AdmitForDays                0.000000
dtype: float64

In [15]:
train_ip.drop(['ClmProcedureCode_5', 'ClmProcedureCode_6'], axis = 1, inplace = True)

In [16]:
test_ip.drop(['ClmProcedureCode_5', 'ClmProcedureCode_6'], axis = 1, inplace = True)

# Merging Data

In [21]:
train_allpatientdata = pd.merge(train_op, train_ip, left_on = ['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
        'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
                              right_on=['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'DeductibleAmtPaid', 'ClmAdmitDiagnosisCode']
                              ,how ='outer')


test_allpatientdata=pd.merge(test_op,test_ip,
                              left_on=['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'DeductibleAmtPaid', 'ClmAdmitDiagnosisCode'],
                              right_on=['BeneID', 'ClaimID', 'ClaimStartDt',  'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode']
                              ,how='outer')
train_allpatientdata.head()
test_allpatientdata.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,AdmissionDt,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_5_y,ClmDiagnosisCode_6_y,AdmitForDays
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,...,NaN,NaN,0.0,5939,NaT,NaT,NaN,NaN,NaN,NaN
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN

In [22]:
# merge all patients data with train_ben
train_allpatientDetails = pd.merge(train_allpatientdata, train_ben, left_on='BeneID', right_on='BeneID', how='inner')
test_allpatientDetails = pd.merge(test_allpatientdata, train_ben, left_on='BeneID', right_on='BeneID', how='inner')
train_allpatientDetails.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,WhetherDead
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,0,1,1,36000,3204,60,70,67,0.0
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,0,1,1,36000,3204,60,70,67,0.0
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,0,1,1,36000,3204,60,70,67,0.0
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,0,0,1,1,5000,1068,250,320,96,0.0
4,BENE11011,CLM144521,2009-01-18,2009-01-18,PRV52314,50,PHY379398,NaN,NaN,NaN,...,0,0,1,1,5000,1068,250,320,96,0.0

In [23]:
test_allpatientDetails.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,WhetherDead
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,1,0,1,1,36000,3204,60,70,67,0.0
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,1,0,1,1,36000,3204,60,70,67,0.0
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,0,1,1,0,0,0,1490,160,69,1.0
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,...,0,1,1,0,0,0,1490,160,69,1.0
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,...,0,1,1,0,0,0,1490,160,69,1.0

In [24]:
test.head()

   Provider
0  PRV51002
1  PRV51006
2  PRV51009
3  PRV51010
4  PRV51018

In [25]:
# merged all patientdata with train, test on provider
train_allpatientsdetails = pd.merge(train_allpatientdata, train, on = 'Provider')
test_allpatientsdetails = pd.merge(test_allpatientdata, test, on = 'Provider')
train_allpatientsdetails.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,ClmDiagnosisCode_5_y,ClmDiagnosisCode_6_y,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,NaN,7769.0,5849.0,NaN,NaN,NaN,NaN,NaN,NaN,Yes
2,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,NaN,9338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
3,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,2009-10-25,...,NaN,8154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
4,BENE24402,CLM32911,2009-01-08,2009-01-12,PRV55912,3000,PHY380413,PHY432598,NaN,2009-01-08,...,NaN,8543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes

In [28]:
test_allpatientsdetails.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,AdmissionDt,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_5_y,ClmDiagnosisCode_6_y,AdmitForDays
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,BENE11536,CLM169510,2009-02-01,2009-02-01,PRV55962,100,PHY404476,NaN,NaN,7915,...,NaN,NaN,0.0,25000,NaT,NaT,NaN,NaN,NaN,NaN
2,BENE11536,CLM189950,2009-02-12,2009-02-12,PRV55962,40,PHY347633,NaN,PHY347633,43310,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN
3,BENE11536,CLM215578,2009-02-26,2009-02-26,PRV55962,60,PHY333010,NaN,NaN,78702,...,NaN,NaN,0.0,78702,NaT,NaT,NaN,NaN,NaN,NaN
4,BENE11536,CLM515149,2009-08-09,2009-08-09,PRV55962,900,PHY333010,NaN,PHY347633,73300,...,NaN,NaN,0.0,NaN,NaT,NaT,NaN,NaN,NaN,NaN